.template {
    display: grid;
    grid-template-columns: 500px 350px 350px;
    grid-template-rows: 400px 400px;
    grid-column-gap: 20px;
    font-size: 27px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding: 50px;
    background-color: #f5f5f5;
}

.info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 5px;
    border: inset;
    border-radius: 2px;
    border-color: #232523;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: arial;
    background-color: #fdfaf3;
}

#chat {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #599FFD;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: arial;
  }


.contact > #par{
    color: #232523;
    font-size: 20px;
}


img {
    margin-left: 120px;
    width: 250px;
    border: solid;
    border-color: #599FFD;
    border-radius: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.contact {
    margin: 15px;
    padding: 10px;
    float: middle;
    width: 450px;
    height: 500px;
    border: solid;
    border-radius: 2px;
    border-color: #232523;
    background-color: #f1f4ff;
}

.activity {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 5px;
    border: inset;
    border-radius: 2px;
    border-color: #1d686b;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: arial;
    background-color: #f3ffee;
}

#act {
    background-color: #74CD4E;
    font-size: larger;
}

#int {
    background-color: #face37;
    font-size: larger;
}

.interest {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 5px;
    border: inset;
    border-radius: 2px;
    border-color: #1d686b;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: arial;
    background-color: #fdfaf3;
}

.participate {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 5px;
    border: inset;
    border-radius: 2px;
    border-color: #1d686b;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: arial;
}


#i1 {
    font-size: 22px;
}
#i2 {
    font-size: 22px;
}
#i3 {
    font-size: 22px;
}
#i4 {
    font-size: 22px;
}
#a1 {
    font-size: 22px;
}
#a2 {
    font-size: 22px;
}
#a3 {
    font-size: 22px;
}
#a4 {
    font-size: 22px;
}
#a5 {
    font-size: 22px;
}