@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap'); 

body{
    font-family: 'Itim', cursive;
}

.jumbotron{
    background-color: #FACE37;
    text-align: center;
}

.navbar{
    background-color:#FACE37;
    color: black;
}

.navbar-brand{
    color: black;
}

a:hover{
    color:#599ffd;
}

.banner {
    position: relative;
    margin-top:0em;
  }

