@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap'); 

body{
    font-family: 'Itim', cursive;
    background-color: #FACE37;
}

  #headings{
   text-align: center;
  }

  .banner {
    position: relative;
    margin-top:0em;
  }

  #icon{
    color: black;
  }

  form{
    width: 50%;
    margin: 0 auto;
    padding: 30px;
  }

  #welcome-msg{
    text-align: center;
    margin: 30px;
  }

  .user-welcome {
    background-color: rgb(233, 238, 240);
    padding: 5px;
  }

  #headings {
   padding: 20px;
  }