@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap'); 

body{
    font-family: 'Itim', cursive;
    background-color: rgb(233, 238, 240);
}
#carouselExampleIndicators{
    width: 50%;
    margin: 0 auto;
  }

  #headings{
   text-align: center;
  }

  .banner {
    position: relative;
    margin-top:0em;
  }

  #icon{
    color: black;
  }