body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.template {
    padding: 60px;
    display: grid;
    grid-template-columns: 700px 500px;
    grid-template-rows: 300px 550px;
    font-size: 30px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;

}

.info {
    padding: 5px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    border: groove;
    border-radius: 2px;
    border-color: #74cd4e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f3ffee;
}

img {
    width: 250px;
    border: solid;
    border-color: #599ffd;
    border-radius: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.contact {
    margin: 15px;
    padding: 10px;
    padding-left: 20px;
    float: right;
    width: 400px;
    height: 260px;
    background-color: #fffdf8;
    border: groove;
    border-radius: 2px;
    border-color: #face37;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.list {
    padding: 20px;
    border: groove;
    border-radius: 2px;
    border-color: #face37;
    background-color: #fdfaf3;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#Aactivity {
    background-color: #face37;
}
#Sactivity {
    background-color: #face37;
}

#friends {
    background-color: #599ffd;
}



.friends {
    padding: 10px;
    border: groove;
    border-radius: 2px;
    border-color: #599ffd;
    background-color: #f1f4ff;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#user {
    text-align: left;
    place-self: center;
}

#a,
#d,
#j {
    font-size: 40px;
}

#a li {
    font-size: 30px;
}

#d li {
    font-size: 30px;
}

#j li {
    font-size: 30px;
}

#info1 {
    font-size: medium;
}
#info2 {
    font-size: medium;
}
#info3 {
    font-size: medium;
}
#info4 {
    font-size: medium;
}
#info5 {
    font-size: medium;
}
#info6 {
    font-size: medium;
}
