@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap'); 

body{
    font-family: 'Itim', cursive;
    background-color: rgb(233, 238, 240);
}

.card-body{
  background-color: #FACE37;
}

.navbar-brand{
  color: #5999FD;
}

.heading{
  text-align: center;
  padding: 30px;
}

.navbar{
  background-color:#5999FD;
}

.col-sm{
margin: 20px;
  
}